<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tarefas</title>
    <link rel="stylesheet" href="/public/style.css">
</head>

<body>



    <div class="tarefas">
        <form action="/" method="post">
            <input placeholder="nova tarefa..." type="text" name="tarefa">
            <button type="submit">Incerir</button>
        </form>

        <% for(let i=0; i < tarefasList.length;++i){ %>
            <p>
                <%= tarefasList[i] %> <a href="/deletar/<%= i %>">X</a>
            </p>
        <% } %>
    </div>
</body>

</html>